<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.up_vams.photoDiscussion.dao.PhotoDiscussionMapper">
  <resultMap id="photoDiscussionMap" type="PhotoDiscussion">
    <id column="discussion_id" property="discussionId" jdbcType="VARCHAR"/>
    <id column="photo_id" property="photoId" jdbcType="VARCHAR"/>
  </resultMap>


 <!-- 用户添加评论，插入一条数据-->
  <insert id="insert" parameterType="PhotoDiscussion">
    insert into t_r_photo_discussion (discussion_id, photo_id)
    values (#{discussionId,jdbcType=VARCHAR}, #{photoId,jdbcType=VARCHAR})
  </insert>

  <!--通过图片id分页查询评论列表-->
  <select id="selectPageList" parameterType="Page" resultMap="photoDiscussionMap">

    SELECT pd.discussion_id, pd.photo_id
FROM t_r_photo_discussion pd  inner JOIN t_discussion d
WHERE pd.discussion_id=d.discussion_id AND pd.photo_id=#{id} order by d.floor_num  limit #{start},#{pageSize}

  </select>

 <!-- 通过照片ID查询该照片评论总数-->
  <select id="selectTotalRecord" parameterType="string" resultType="long">
    SELECT count(photo_id) FROM t_r_photo_discussion WHERE photo_id=#{photoId}
  </select>

</mapper> 