<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.up_vams.photo.dao.PhotoMapper">
    <resultMap id="PhotoResultMap" type="Photo">
        <id column="photo_id" property="photoId" jdbcType="VARCHAR"/>
        <result column="name" property="photoName" jdbcType="VARCHAR"/>
        <result column="title" property="photoTitle" jdbcType="VARCHAR"/>
        <result column="latitude" property="photoLatitude" jdbcType="DECIMAL"/>
        <result column="longitude" property="photoLongitude" jdbcType="DECIMAL"/>
        <result column="view_num" property="photoViewNum" jdbcType="INTEGER"/>
        <result column="like_num" property="photoLikeNum" jdbcType="INTEGER"/>
        <result column="creator_id" property="photoCreatorId" jdbcType="VARCHAR"/>

    </resultMap>
    <resultMap id="PhotoResultMapWithBLOBs" type="Photo" extends="PhotoResultMap">
        <result column="introduction" property="photoIntroduction" jdbcType="LONGVARCHAR"/>
    </resultMap>


    <insert id="insert" parameterType="Photo">
      INSERT INTO t_photo (photo_id, name, title,
      latitude, longitude, creator_id, introduction
      )
    VALUES (#{photoId,jdbcType=VARCHAR}, #{photoName,jdbcType=VARCHAR}, #{photoTitle,jdbcType=VARCHAR},
      #{photoLatitude,jdbcType=DECIMAL}, #{photoLongitude,jdbcType=DECIMAL}, #{photoCreatorId,jdbcType=VARCHAR}, #{photoIntroduction,jdbcType=LONGVARCHAR}
      )
    </insert>

    <select id="selectSchoolMore" parameterType="string" resultMap="PhotoResultMap">
        SELECT photo_id,NAME FROM t_photo WHERE photo_id=#{photoId};
    </select>

    <!--/**
    * 分页查询照片
    * @param page Page<SchoolPhoto>
    * @return  照片Page
    */-->
    <select id="selectPageList" parameterType="page" resultMap="PhotoResultMapWithBLOBs">
        SELECT photo_id, name, title,
        latitude, longitude, creator_id, introduction
        FROM t_photo WHERE photo_id IN
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item.photoId}
        </foreach>
        LIMIT 0,8;
    </select>

    <select id="selectPhotos" parameterType="list" resultMap="PhotoResultMapWithBLOBs">
        SELECT photo_id, name, title,
        latitude, longitude, creator_id, introduction
        FROM t_photo WHERE photo_id IN
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item.photoId}
        </foreach>
        LIMIT 0,8;
    </select>


    <!--  查询总记录数
    <select id="selectTotalRecord" parameterType="page" resultType="integer">

         SELECT COUNT(photo_id) WHERE photo_id IN
         <foreach collection="list" open="(" close=")" separator="," item="item">
         #{item.photoId}
         </foreach>;

     </select>-->
</mapper>