<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.up_vams.userPhoto.dao.UserPhotoMapper">
    <resultMap id="userPhotoMap" type="UserPhoto">
        <id column="photo_id" property="photoId"/>
        <id column="user_id" property="userId"/>
        <result column="vote_time" property="voteTime"/>
        <result column="state" property="upState"/>
    </resultMap>

    <!--用户点赞后插入一条数据-->
    <insert id="insert" parameterType="UserPhoto">
        INSERT INTO t_r_vote_log(photo_id,user_id,vote_time,state) VALUES (#{photoId},#{userId},NOW(),#{upState})

    </insert>

    <!-- 取消赞-->
    <update id="update" parameterType="UserPhoto">
       UPDATE  t_r_vote_log SET state=#{upState},vote_time=NOW() WHERE photo_id=#{photoId} AND user_id=#{userId}

   </update>

    <!--分页获取用户收藏图片ID-->
    <select id="selectPageList" parameterType="page" resultMap="userPhotoMap">
        SELECT photo_id FROM t_r_vote_log WHERE user_id=#{id} LIMIT #{start},#{pageSize}
    </select>

    <select id="select" parameterType="UserPhoto" resultMap="userPhotoMap">
      SELECT photo_id,user_id,vote_time,state FROM t_r_user_photo WHERE photo_id=#{photoId} AND user_id=#{userId}
    </select>

    <!--通过id查询总记录数-->
    <select id="selectTotalRecord" parameterType="string" resultType="long">
        SELECT count(user_id) FROM t_r_vote_log WHERE user_id=#{userId}
    </select> 
</mapper>