<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	

	<!-- 设置类型别名 -->
	<typeAliases>


		<!--
                通过package, 可以直接指定package的名字， mybatis会自动扫描你指定包下面的javabean,
              并且默认设置一个别名，默认的名字为非限定类名来作为它的别名。'
              最好别加通配符
               -->

		<package name="com.up_vams.user.entity"/>
		<package name="com.up_vams.photo.entity"/>
		<package name="com.up_vams.school.entity"/>
		<package name="com.up_vams.schoolPhoto.entity"/>
		<package name="com.up_vams.core.entity"/>
		<package name="com.up_vams.userPhoto.entity"/>
		<package name="com.up_vams.userSchool.entity"/>
	</typeAliases>


	<!--配置mapper扫描映射文件，在applicationcontext中已经用了mapper扫描器，这里可以不用写了-->
	<mappers>

		<!--<mapper resource="com/up_vams/user/dao/UserMapper.xml"/>-->

		<!--<mapper resource="com/data_analyze/test/dao/DeptMapper.xml"/>-->
	</mappers>

</configuration>