<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.up_vams.school.dao.SchoolMapper">
  <resultMap id="SchoolResultMap" type="School">
    <id column="school_id" property="schoolId" jdbcType="VARCHAR"/>
    <result column="name" property="schoolName" jdbcType="VARCHAR"/>
    <result column="page_view" property="schoolPageView" jdbcType="INTEGER"/>
    <result column="active_index" property="schoolActiveIndex" jdbcType="INTEGER"/>
    <result column="photo_count" property="schoolPhotoCount" jdbcType="INTEGER"/>
    <result column="ranking" property="schoolRanking" jdbcType="INTEGER"/>
    <result column="pinyin" property="schoolPinyin" jdbcType="VARCHAR"/>
    <result column="pinyin_header" property="schoolPinyinHeader" jdbcType="VARCHAR"/>
  </resultMap>
  <resultMap id="SchoolResultMapWithBLOBs" type="School" extends="SchoolResultMap">
    <result column="introduction" property="schoolIntroduction" jdbcType="LONGVARCHAR"/>
  </resultMap>

  <insert id="insert" parameterType="School">

    INSERT INTO t_school (school_id, name, pinyin, pinyin_header, introduction,photo_count
      )
    VALUES (#{schoolId,jdbcType=VARCHAR}, #{schoolName,jdbcType=VARCHAR}, #{schoolPinyin,jdbcType=VARCHAR}, #{schoolPinyinHeader,jdbcType=VARCHAR}, #{schoolIntroduction,jdbcType=LONGVARCHAR},#{schoolPhotoCount,jdbcType=INTEGER}
      )
  </insert>


  <update id="update" parameterType="School" >
    UPDATE t_school
    <set >
      <if test="schoolName != null" >
        name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test=" schoolPageView != null" >
        page_view = #{schoolPageView,jdbcType=INTEGER},
      </if>
      <if test=" schoolActiveIndex != null" >
        active_index = #{schoolActiveIndex,jdbcType=INTEGER},
      </if>
      <if test="schoolPhotoCount != null" >
        photo_count = #{schoolPhotoCount,jdbcType=INTEGER},
      </if>
      <if test="schoolRanking != null" >
        ranking = #{schoolRanking,jdbcType=INTEGER},
      </if>
      <if test="schoolPinyin != null" >
        pinyin = #{schoolPinyin,jdbcType=VARCHAR},
      </if>
      <if test="schoolPinyinHeader != null" >
        pinyin_header = #{schoolPinyinHeader,jdbcType=VARCHAR},
      </if>
      <if test="schoolIntroduction != null" >
        introduction = #{schoolIntroduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    WHERE school_id=#{schoolId}
  </update> 

  <!--首页查询学校-->
  <select id="selectSchools" resultMap="SchoolResultMapWithBLOBs">
    SELECT school_id,name,page_view,active_index,introduction,photo_count,ranking,pinyin,pinyin_header FROM t_school ORDER BY ranking LIMIT 0,3;
  </select>

  <!--通过学校ID查学校-->
  <select id="selectByPK" parameterType="string" resultMap="SchoolResultMapWithBLOBs">
    SELECT school_id,name,page_view,active_index,introduction,photo_count,ranking,pinyin,pinyin_header FROM t_school WHERE school_id=#{schoolId};
  </select>



</mapper>