<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.up_vams.school.dao.SchoolMapper">
  <resultMap id="SchoolResultMap" type="School">
    <id column="school_id" property="schoolId" jdbcType="VARCHAR"/>
    <result column="name" property="schoolName" jdbcType="VARCHAR"/>
    <result column="page_view" property="schoolPageView" jdbcType="INTEGER"/>
    <result column="active_index" property="schoolActiveIndex" jdbcType="INTEGER"/>
    <result column="photo_count" property="schoolPhotoCount" jdbcType="INTEGER"/>
    <result column="racking" property="schoolRacking" jdbcType="INTEGER"/>
    <result column="pinyin" property="schoolPinyin" jdbcType="VARCHAR"/>
    <result column="pinyin_header" property="schoolPinyinHeader" jdbcType="VARCHAR"/>
  </resultMap>
  <resultMap id="SchoolResultMapWithBLOBs" type="School" extends="SchoolResultMap">
    <result column="introduction" property="schoolIntroduction" jdbcType="LONGVARCHAR"/>
  </resultMap>

  <insert id="insert" parameterType="School">
    <!--<selectKey resultType="string" order="BEFORE" keyProperty="schoolId">
      SELECT REPLACE(UUID(),'-','')
    </selectKey>-->
    INSERT INTO t_school (school_id, name, pinyin, pinyin_header, introduction
      )
    VALUES (#{schoolId,jdbcType=VARCHAR}, #{schoolName,jdbcType=VARCHAR}, #{schoolPinyin,jdbcType=VARCHAR}, #{schoolPinyinHeader,jdbcType=VARCHAR}, #{schoolIntroduction,jdbcType=LONGVARCHAR}
      )
  </insert>
</mapper>