<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.up_vams.user.dao.UserMapper">
    <resultMap id="userResultMap" type="user">
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_password" jdbcType="VARCHAR" property="userPassword"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone"/>
        <result column="user_image" jdbcType="VARCHAR" property="userImage"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
        <result column="user_address" jdbcType="LONGVARCHAR" property="userAddress"/>
    </resultMap>


   <!-- 插入用户-->
    <insert id="insert" parameterType="User">
        <selectKey resultType="string" order="BEFORE" keyProperty="userId">
            SELECT REPLACE(UUID(),'-','')
        </selectKey>
        insert into t_user (user_id, user_name, user_email,
        user_phone, user_image, gender,
        score, user_address,user_password)
        values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR},
        #{userPhone,jdbcType=VARCHAR}, #{userImage,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER},
        #{score,jdbcType=INTEGER}, #{userAddress,jdbcType=LONGVARCHAR}, #{userPassword,jdbcType=VARCHAR})
    </insert>

   <!-- 删除用户-->
    <delete id="delete" parameterType="User">

        DELETE FROM t_user where user_id=#{userId}

    </delete>


    <!--修改用户-->
    <update id="update" parameterType="User">
        update t_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                user_email = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userPhone != null">
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="userImage != null">
                user_image = #{userImage,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="userAddress != null">
                user_address = #{userAddress,jdbcType=LONGVARCHAR},
            </if>
            <if test="userPassword != null">
                user_password = #{userPassword,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where user_id=#{userId}
    </update>

    <!--查找单个用户-->
    <select id="select" parameterType="User" resultMap="userResultMap">
     SELECT user_id , user_name ,user_password, user_email, user_phone, user_image, gender, score, user_address  FROM  t_user WHERE user_email=#{userEmail} AND user_password=#{userPassword};
  </select>

    <select id="selectByPK" parameterType="string" resultMap="userResultMap">
        SELECT user_id , user_name ,user_password, user_email, user_phone, user_image, gender, score, user_address  FROM  t_user WHERE  user_id=#{userId};
    </select>

    <!--模糊查找用户列表-->
    <select id="selectList" parameterType="string" resultMap="userResultMap">
        SELECT user_id , user_name ,user_password, user_email, user_phone, user_image, gender, score, user_address  FROM  t_user WHERE  user_name LIKE #{userName}
    </select>

    <!--查询所有用户-->
    <select id="selectAll" resultMap="userResultMap">

        SELECT user_id , user_name ,user_password, user_email, user_phone, user_image, gender, score, user_address  FROM  t_user

    </select>
</mapper>